<div class='container'>
  <div class='row'>
    <div class='col-lg-2'></div>
    <div class='col-lg-8'>
      <div class='jumbotron'>
        <h2 class="display-4 text-center">How To Play</h2>
      </div>
      <div class='col-lg-2'></div>
    </div>
  </div>
  <div class='row'>
    <div class='col-lg-2'></div>
    <div class='col-lg-8'>
      <div class='jumbotron'>
        <h2 class="display-4 text-center">Set Your Defenses</h2>
      </div>
      <div class='col-lg-2'></div>
    </div>
  </div>
  <div class='row'>
    <div class='col-lg-2'></div>
    <div class='col-lg-8'>
      <div class='jumbotron'>
        <h2 class="display-4 text-center">Attack Your Opponents</h2>
      </div>
      <div class='col-lg-2'></div>
    </div>
  </div>
  <div class='row'>
    <div class='col-lg-2'></div>
    <div class='col-lg-8'>
      <div class='jumbotron'>
        <h2 class="display-4 text-center">Last One Alive Wins</h2>
      </div>
      <div class='col-lg-2'></div>
    </div>
  </div>

</div>
